body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
  }
  
  #outputContainer {
    display: none;
  }
  
  #outputImage {
    max-width: 100%;
  }
  
  #downloadButton {
    margin-top: 10px;
  }
  